name: i18next
description: A localization formatter based on the i18next standard. It is not yet a fully i18n tool only the formatting itself.
version: 0.5.2
repository: https://github.com/nubank/i18next
homepage: https://github.com/nubank/i18next

environment:
  sdk: ">=3.7.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  path: ^1.8.0

dev_dependencies:
  build_runner: ^2.4.15
  flutter_test:
    sdk: flutter
  mockito: ^5.0.3

flutter:
