<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.visionable.vitals_sdk_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
